.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 24px;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

nz-form-control {
  display: flex;
  align-items: center;
}

button[nz-button] {
  margin-top: 16px;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
