<nz-typography>Тут знаходяться куратори відповідальні за групи (якщо куратор відповідає за групу, то видалити його не можна)</nz-typography>
<div class="add-button">
  <button
    nz-button
    nzType="primary"
    (click)="showCreateModal()"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Додати куратора
  </button>
</div>
<nz-table
  #basicTable [nzData]="curators"
  [nzScroll]="{ x: '100%' }"
  [nzPageSize]="5"
>
  <thead>
  <tr>
    <th>Id</th>
    <th>Ім'я</th>
    <th>Прізвище</th>
    <th>По батькові</th>
    <th>Кафедра</th>
    <th>Посада</th>
    <th>Додати групу</th>
    <th>Видалити</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.lastName }}</td>
    <td>{{ data.additionalName }}</td>
    <td>{{ data.department }}</td>
    <td>{{ data.position }}</td>
    <td>
      <button
        nz-button
        nzType="link"
        (click) = "addGroup(data)"
      >
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
        Add group
      </button>
    </td>
    <td>
      <button
        nz-button
        nzType="primary"
        [nzDanger]="true"
        (click) = "delete(data.id)"
      >Delete</button>
    </td>
  </tr>
  </tbody>
</nz-table>

